.demos-list-wrapper{
    padding: 50px 20px ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content:center;
}

.card-custom{
    margin:  15px;
    transition: all .2s ease-in-out;
    z-index: 20;
}
.img{
    transition: all .2s ease-in-out;
    z-index: 15;
}
.img-wrap{
    overflow: hidden;
    transition: all .5s ease-in-out;

}
.card-custom:hover{
    transform: scale(1.05); 
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important
}

.card-custom:hover .img{
    transition: all 3s ease-in-out;
    transform: scale(1.3);
}
