<div class="demos-list-wrapper">
	<a *ngFor="let item of cards" class="text-dark card shadow-sm card-custom" style="width: 20rem;text-decoration: none;" routerLink="{{ item.type }}/{{ item.name }}">
		<div class="card-img-top img-wrap">
			<img src="{{ item.imgsrc }}" class="card-img-top shadow img"/>
		</div>
		<div class="card-body">
			<h5 class="card-title">{{ item.title }}</h5>
			<p class="badge" [ngClass]="item.type === 'Classifier' ? 'badge-primary' : 'badge-danger'">
				{{ item.type }}
			</p>
			<p class="card-text">{{ item.description }}</p>
		</div>
	</a>
</div>
