.app-wrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    overflow-y: scroll;
}

.app-header-wrap{
    z-index: 11;
    transition: all .5s ease-in-out;

}

.app-body-wrap{
    z-index: 10;
}
