.classifier-wrapper{
    display: grid;
   
}
.image-wrapper{
    display: grid;
    grid-template-rows: 500px auto;

}
.image-main{
    grid-row: 1/2;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color:rgb(37, 94, 245);
    background-image:
      linear-gradient(rgba(255,255,255,.5) 2px, transparent 2px),
      linear-gradient(90deg, rgba(255,255,255,.5) 2px, transparent 2px),
      linear-gradient(rgba(255,255,255,.28) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255,255,255,.28) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
.image-gallery{
    padding: 10px;
    grid-row: 2/3;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.controls-wrapper{
    display: grid;
    grid-template-rows: 70px 1fr;
}
.controls-buttons-panel{
    grid-row:1/2;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.controls-result-panel{
    grid-row: 2/3;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.text-result-panel{
    padding: 10px 5px;
}
.classifcation-result-panel{
    padding: 10px 5px;
    width: 100%;
}
.pic-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-class{
    max-height: 100%;
    max-width: 100%;
    transition: all .2s ease-in-out;
}
.sample-image{
    width: 60px;
    height: 50px;
    margin: 0 5px;
    transition: all .2s ease-in-out;
}
.sample-image-active{
    transform: scale(1.2); 
}
.sample-image:hover {
    transform: scale(1.1); 
}
.custom-btn{
    margin: 5px 10px;
}

.p-bar{
    transition: all .2s ease-in-out;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .classifier-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows:  auto auto;
    }
    .image-wrapper {
        grid-column: 1/2;
        grid-row: 1/2;

    }
    .controls-wrapper{
        grid-column: 1/2;
        grid-row: 2/3;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .classifier-wrapper {
        grid-template-columns: auto 853px 400px auto;
        grid-template-rows: auto 600px auto;
    }
    .image-wrapper {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .controls-wrapper{
        margin-left: 50px;
        grid-column: 3/4;
        grid-row: 2/3;
    }

 }