<div class="shadow-lg text-light app-header" [ngClass]="{'app-header-collapsed': isHeaderCollapsed}">
<div class="home-header-title font-weight-lighter">
  <div class="header-title font-header" [ngClass]="{'font-header-collapsed': isHeaderCollapsed}">
    YOLO.JS
  </div>
  <span class="text-wrap" style="max-width:40rem;" [ngClass]="{'text-wrap-collapsed': isHeaderCollapsed}">
      A work in progress implementaion of the YOLO object detection in <kbd class="bg-js">JavaScript</kbd> 
      running on top of <kbd class="bg-tfjs">Tensorflow.js</kbd> 
    </span> 
</div>
<div class="home-header-info">
    
</div>
</div>