/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}

.font-mt {
  font-family: 'Montserrat', sans-serif;
}


.animate {
  transition: all 0.5s ease-in-out;
}