html {
    scroll-behavior: smooth;
  }
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 13px;
}

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
/* ::-webkit-scrollbar-thumb {
    background: #FF0000;
  } */



.app {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 100% 100%;
    overflow-y: scroll;
}

.main-wrapper {
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    display: grid;
}
.main-wrapper-no-fullscreen {
    grid-template-columns: 50px 1098px 1fr;
    grid-template-rows: 1fr 480px 1fr;
}
.main-wrapper-fullscreen {
    grid-template-columns:1fr;
    grid-template-rows:1fr;
}

.video-wrapper {
    position: relative;
    background: #1a1a1a;
}
.video-wrapper-no-fullscreen {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 245px;
}

.video-wrapper-fullscreen {
    grid-row: 1/2;
    grid-column: 1/2;
    position: relative;
}

.layer {
    top: 0;
    left: 0;
}
.layer-source{
    z-index: 10;
    width: 100%;
    height: 100%;

}
.layer-canvas{
    position: absolute;
    z-index: 11;
    pointer-events: none;
}
.layer-controls{
    z-index: 15;
    width: 100%;
    height: 100%;
    grid-column: 2/3 
}
/* .layer-controls > *{
    z-index: inherit;
} */