<div class="detector-wrapper">
	<div class="video-wrapper">
		<div #videoLayer id="video-main" class="video-main">
        <video #videoSrc id="source"  class="layer layer-source" autoplay nocontrols crossorigin="anonymous"></video>
		<canvas #detectionCanvas id="detection" class="layer layer-canvas"></canvas>
		<div #performanceLayer id='perf-layer' class="layer layer-perf"></div>
		</div>
	</div>
	<div  #controlsPanel id="controls-wrapper" class="controls-wrapper border shadow-sm">
	
	</div>
</div>
