<div class="detector-wrapper">
	<div class="video-wrapper">
		<div #videoLayer id="video-main" class="video-main">
			<video #videoSrc id="source" class="layer layer-source" autoplay controls crossorigin="anonymous"></video>
			<canvas #detectionCanvas id="detection" class="layer layer-canvas"></canvas>
			<div #performanceLayer id="perf-layer" class="layer layer-perf"></div>
		</div>
	</div>
	<div #controlsPanel id="controls-wrapper" class="controls-wrapper border-left">
		<div class="form-group ">
			<label for="videourlinput">Video URL:</label>
			<div class="form-inline">
				<input #VidUrlForm type="email" class="form-control form-control-sm" id="videourlinput" aria-describedby="videourl" placeholder="Enter Video URL" />
				<button (click)="playVideoUrl(VidUrlForm)" class="btn btn-sm btn-primary" style="margin:5px">Go</button>
				<button (click)="enableCamera()" class="btn btn-sm btn-success" style="margin:5px">Camera</button>
				<div *ngIf="isLoadBtnClicked && !isModelLoded" class="spinner-grow text-primary" role="status">
					<span class="sr-only">Loading...</span>
				</div>
				<div *ngIf="isModelreadyToDetect" class="badge badge-success text-wrap" style="width: 6rem;">
					Ready.
				</div>
			</div>
			<small id="Help1" class="form-text text-muted">1. Must be a direct video url</small>
			<small id="Help2" class="form-text text-muted">2. If you are using a youtube video please make sure you enable CORS</small>
		</div>
	</div>
</div>
