.header {
  padding: 20px;
  background: #c33764; /* fallback for old browsers */
  background: linear-gradient(45deg,#1d2671,#c33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;  

}

.header-collapsed{
  height: 60px;
}
.header-expanded{
  height: 300px;
}

.font-header {
  font-size: 80px;
}
.font-header-collapsed {
  font-size: 30px;
}
.text-wrap-collapsed {
  opacity: 0;
  visibility: hidden;
  display: none;
}
.bg-js {
  background: #f0db4f;
  color: #323330;
  font-weight: bold;
}

.bg-tfjs {
  background: #ff6f00;
  color: #ffffff;
  font-weight: bold;
}

