<div class="header text-light animate shadow" [ngClass]=" isHeaderCollapsed ? 'header-collapsed' : 'header-expanded' ">
	<div class="animate font-weight-lighter font-mt font-header" [ngClass]="{ 'font-header-collapsed': isHeaderCollapsed }">
		YOLO.JS
	</div>
	<span class="animate text-break"  [ngClass]="{ 'text-wrap-collapsed': isHeaderCollapsed }">
		A work in progress implementaion of the YOLO object detection in <kbd class="bg-js">JavaScript</kbd> running on top of <kbd class="bg-tfjs">Tensorflow.js</kbd>
	</span>
</div>
